table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; /* Alineamos los numeros para que queden en el centro */
    margin: 5px; /* Espacio entre las celdas */
}

/* Estilos para resaltar el mínimo y el máximo */
.min {
    color: brown;
    font-style: italic;
}

.max {
    color: blue;
    font-weight: bold;
}

/* Color de ambas diagonales */
.diagonal1 {
    background-color: #FF0000  ; /* Color para la diagonal / */
}

.diagonal2 {
    background-color: #FFFF00; /* Color para la diagonal \ */
}

/* Color de la celda central */
.centro {
    background-color: #ff8000; /* Color de la celda central como combinación */
}
