table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; /* Alinea los numeros para que queden en el centro */
    margin: 5px; /* Espacio entre las celdas */
}

/* Estilos para resaltar el mínimo y el máximo */
.min {
    color: brown;
    font-style: italic;
}

.max {
    color: blue;
    font-weight: bold;
}

/* Color de ambas diagonales en función del valor que presente $class, la diagonal1 es "/" y la diagonal2 es "\" */
.diagonal1 {
    background-color: #FF0000; 
}

.diagonal2 {
    background-color: #FFFF00; 
}


.centro {
    background-color: #ff8000; /* Color de la celda central como combinación de la diagonal1 y la diagonal2 */
}
