*{
    text-align: center;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    color: #333;
}


h1 {
    color: #ffcc00;
    text-shadow: 2px 2px #ff0000;
}

h2 {
    color: #ff6600;
    margin-top: 20px;
}

h3 {
    color: #cc0000;
}

p {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

strong {
    color: #000;
}

.enfrentamiento {
    margin-bottom: 30px;
}